html {
	background-size: 100%, cover;
	background-color: #94958b;
	margin:0px;
	padding:0px;
	border: none;

}

.tile {
	width: 25%;
	border: 1px solid black;
	margin: 5px;
}

.on {
	border: 3px solid blue;
}
