body{
    background-color: lightgray;
    font-family: Arial, sans-serif;
    width:700px;
    margin-left: 25%; 
    margin-top: 5%;
}
h2 {
    text-align: left;
}
h3{
    text-align: left;
    font-size: 11px;
    font-weight: normal;
}
p{
    text-align: left;
    font-size: 14px;
    display:inline;
}
a{
    color:black;
    font-size: 14px;

}
#outOfFocusButton {
    color:black;
    background-color: white;
    border-radius:3px;
    width:150px;
    padding:7px 0px;
    border:1px solid grey;
}
#inFocusButton{
    color:white;
    background-color: blue;
    border-radius:3px;
    padding:7px 0px;
    width:150px;
    border:none;
    border:1px solid grey;
    margin-left:390px
}
hr{
    border:none;
}

#contactForm{
    background-color:#faeded;
    position:fixed;
    display:none;
    z-index:1;
    width:35%;
    height:20%;
    left:33%;
    top:40%;
    border-radius: 5px;
    border:2px solid black;
    justify-content: center;
    font-family:Tahoma;
    font-size:10pt;
    padding:0px;
}
#startContactForm {
    color:blue;
    cursor: pointer;
}
#closeContactForm {
    color:white;
    background-color:red;
    cursor: pointer;
    font-weight: bold;
    font-size:larger;
    position: absolute;
    top:1.5px;
    right:2px;
    padding:1px 5px;
    border:1px solid white;
    border-radius:2px;
}
#taskbar{
    color:white;
    background-color:blue;
    padding:5px;
    border:1px solid white;
}
#warning{
    width:100px;
    height:100px;
    color:red;
    font-family:
}